.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.details-container {
    width: 300px;
    height: 450px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-right: 50px;
    margin-left: 250px;
}

.order-container {
    width: 300px;
    height: 450px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-right: 50px;
}

.payment-container {
    width: 300px;
    height: 450px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
    color: #f8901c;
}

InputGroup {
    margin-bottom: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

Button {
    margin-top: 20px;
}

.finalize-button{
    margin-top: 153px;
    background-color: #f8901c;
    border: 0px;
}

.payment-options{
    margin-top: 100px;
}

.log-in-button{
    background-color: #f8901c;
    border: 0px;
}

.order-progress{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    border-bottom: 3px dotted black;
    width: 655px;
    margin-bottom: -25px;
}

.order-delivered, .order-received, .order-delivery, .order-inProcess{
    margin-right: 155px;
}

.order-progress .large {
    font-size: 48px;
}

.active-order-items{
    margin-left: 50px;
}

.icon-active{
    color: lightgreen;
}

.no-order{
    margin-left: 630px;
}


