.product-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #eee;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    margin-top: 20px;
    width: 200px;
}

.add-product{
    margin-bottom: 100px;
}

.spatiu{
    margin: 20px;
}

.history-table {
    margin-top: 100px;
    margin-bottom: 100px;
}

.total-orders{
    margin-bottom: 200px;
    margin-top:50px;
}

.bar-chart{
    width: 100%;
    height: 300px;
}

.bottom-row-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* This will space out the child elements evenly along the row */
    align-items: center; /* This will center the child elements vertically */
}

.choose-file{
    margin-left: 50px;
    margin-top: 20px;
}

.upload-image{
    margin-left: -1020px;
}




